## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from Config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [12]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/Vacation_Search")
vacation_df.head()

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,3,Georgetown,MY,78.89,few clouds,5.4112,100.3354,Cititel Penang
1,11,Tayu,ID,82.29,overcast clouds,-6.5397,111.0518,Toko pakaian bu is Tayu
2,13,Auki,SB,87.26,scattered clouds,-8.7676,160.7034,Auki Motel
3,17,Oranjestad,AW,82.35,few clouds,12.5240,-70.0270,Divi Village Golf & Beach Resort
4,18,Rikitea,PF,76.98,clear sky,-23.1203,-134.9692,People ThankYou

In [134]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Decription</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]
locations

         Lat       Lng
0     5.4112  100.3354
1    -6.5397  111.0518
2    -8.7676  160.7034
3    12.5240  -70.0270
4   -23.1203 -134.9692
..       ...       ...
150   7.6244  -11.8332
151 -19.8436   34.8389
152 -20.2333  164.0167
153 -21.3393   55.4781
154  14.6937  -17.4441

[155 rows x 2 columns]

In [14]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [66]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
# Create Dataframes
vacation_start_df = vacation_df.loc[lambda vacation_df: vacation_df['City'] == "Belmonte"]
vacation_end_df = vacation_df.loc[lambda vacation_df: vacation_df['City'] == "Belmonte"]
vacation_stop1_df = vacation_df.loc[lambda vacation_df: vacation_df['City'] == "Maceio"]
vacation_stop2_df = vacation_df.loc[lambda vacation_df: vacation_df['City'] == "Cabedelo"]
vacation_stop3_df = vacation_df.loc[lambda vacation_df: vacation_df['City'] == "Uruburetama"]
vacation_start_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
82,326,Belmonte,BR,75.7,clear sky,-15.8631,-38.8828,Pousada Monte Carmelo O Pão

In [18]:
# #Create Dataframes
# vacation_start_df = vacation_df.loc[["Belmonte"]]
# vacation_end_df = vacation_df.loc[["Belmonte"]]
# vacation_stop1_df = vacation_df.loc[["Maceio"]]
# vacation_stop2_df = vacation_df.loc[["Cabedelo"]]
# vacation_stop3_df = vacation_df.loc[["Uruburetama"]]

In [63]:
# # Create Dataframes
# vacation_start_df = vacation_df.loc[lambda vacation_df: vacation_df['City'] == "Belmonte"]
# vacation_end_df = vacation_df.loc[lambda vacation_df: vacation_df['City'] == "Belmonte"]
# vacation_stop1_df = vacation_df.loc[lambda vacation_df: vacation_df['City'] == "Maceio"]
# vacation_stop2_df = vacation_df.loc[lambda vacation_df: vacation_df['City'] == "Cabedelo"]
# vacation_stop3_df = vacation_df.loc[lambda vacation_df: vacation_df['City'] == "Uruburetama"]

stop1 = [((vacation_stop1_df.loc[0]["Lat"]), (vacation_stop1_df.loc[0]["Lng"])]
stop1

SyntaxError: invalid syntax (<ipython-input-63-1ef63e775678>, line 8)

In [83]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start_df["Lat"].values[0],vacation_start_df["Lng"].values[0])
end = (vacation_end_df["Lat"].values[0],vacation_end_df["Lng"].values[0])
stop1 = (vacation_stop1_df["Lat"].values[0],vacation_stop1_df["Lng"].values[0])
stop2 = (vacation_stop2_df["Lat"].values[0],vacation_stop2_df["Lng"].values[0])
stop3 = (vacation_stop3_df["Lat"].values[0],vacation_stop3_df["Lng"].values[0])

In [138]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets
directions = gmaps.directions_layer(start,end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING')
fig.add_layer(directions)
fig

Figure(layout=FigureLayout(height='420px'))

In [127]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.

itinerary_df = pd.concat([vacation_end_df, vacation_stop1_df, vacation_stop2_df, vacation_stop3_df],ignore_index=True)
itinerary_df = itinerary_df.set_index(['City_ID'] )
itinerary_df

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
City_ID,,,,,,,
326,Belmonte,BR,75.70,clear sky,-15.8631,-38.8828,Pousada Monte Carmelo O Pão
478,Maceio,BR,80.04,scattered clouds,-9.6658,-35.7353,Poutur Pousada
361,Cabedelo,BR,81.27,clear sky,-6.9811,-34.8339,Hotel Pigalle
582,Uruburetama,BR,77.09,overcast clouds,-3.6250,-39.5083,Pousada Casa Rosada

In [139]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Decription</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat","Lng"]]
locations

             Lat      Lng
City_ID
326     -15.8631 -38.8828
478      -9.6658 -35.7353
361      -6.9811 -34.8339
582      -3.6250 -39.5083

In [161]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(-10.0, -40.0), zoom_level=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))