## Deliverable 2. Create a Customer Travel Destinations Map.

In [10]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from Config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [12]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Tuktoyaktuk,CA,2021-11-26 00:40:35,69.4541,-133.0374,-0.40,85,40,19.57,scattered clouds
1,1,Ushuaia,AR,2021-11-26 00:37:12,-54.8000,-68.3000,42.46,70,20,21.85,few clouds
2,2,Anchorage,US,2021-11-26 00:40:36,61.2181,-149.9003,15.93,87,90,0.00,light snow
3,3,Georgetown,MY,2021-11-26 00:40:36,5.4112,100.3354,78.89,93,20,1.01,few clouds
4,4,Karakol,KG,2021-11-26 00:40:37,42.4907,78.3936,29.98,61,100,5.57,overcast clouds

In [13]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
3,3,Georgetown,MY,2021-11-26 00:40:36,5.4112,100.3354,78.89,93,20,1.01,few clouds
11,11,Tayu,ID,2021-11-26 00:40:40,-6.5397,111.0518,82.29,75,100,5.84,overcast clouds
13,13,Auki,SB,2021-11-26 00:40:41,-8.7676,160.7034,87.26,61,50,1.16,scattered clouds
17,17,Oranjestad,AW,2021-11-26 00:40:42,12.5240,-70.0270,82.35,74,20,10.36,few clouds
18,18,Rikitea,PF,2021-11-26 00:37:52,-23.1203,-134.9692,76.98,70,7,10.18,clear sky
29,29,Hithadhoo,MV,2021-11-26 00:39:16,-0.6000,73.0833,81.32,69,99,12.17,overcast clouds
36,36,Quelimane,MZ,2021-11-26 00:40:50,-17.8786,36.8883,76.95,83,75,5.75,broken clouds
37,37,Salalah,OM,2021-11-26 00:40:50,17.0151,54.0924,75.29,50,0,4.61,clear sky
41,41,Avarua,CK,2021-11-26 00:40:52,-21.2078,-159.7750,82.45,83,20,9.22,few clouds
42,42,Zuenoula,CI,2021-11-26 00:40:52,7.4292,-6.0431,75.88,59,5,2.84,clear sky

In [18]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                167
City                   167
Country                167
Date                   167
Lat                    167
Lng                    167
Max Temp               167
Humidity               167
Cloudiness             167
Wind Speed             167
Weather Description    167
dtype: int64

In [27]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

In [38]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.count()

City                   167
Country                167
Max Temp               167
Weather Description    167
Lat                    167
Lng                    167
Hotel Name             167
dtype: int64

In [41]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
import numpy as np
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()

    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        hotel_df.loc[index, "Hotel Name"] = np.nan

yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
Hotel not found... skipping.
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
Hotel not found... skipping.
yay
yay
yay
yay
yay
yay
yay
yay
Hotel not found... skipping.
yay
yay
Hotel not found... skipping.
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
Hotel not found... skipping.
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
Hotel not found... skipping.
yay
yay
yay
yay
yay
yay
yay
yay
yay
Hotel not found... skipping.
yay
yay
yay
yay
Hotel not found... skipping.
yay
yay
yay
yay
yay
yay
yay
yay
yay
Hotel not found... skipping.
yay
yay
Hotel not found... skipping.
yay
yay
yay
yay
yay
yay
Hotel not found... skipping.
yay
yay
yay
yay
yay
yay
yay
yay
yay
yay
Hotel not found... skipping.
yay

In [45]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
3,Georgetown,MY,78.89,few clouds,5.4112,100.3354,Cititel Penang
11,Tayu,ID,82.29,overcast clouds,-6.5397,111.0518,Toko pakaian bu is Tayu
13,Auki,SB,87.26,scattered clouds,-8.7676,160.7034,Auki Motel
17,Oranjestad,AW,82.35,few clouds,12.5240,-70.0270,Divi Village Golf & Beach Resort
18,Rikitea,PF,76.98,clear sky,-23.1203,-134.9692,People ThankYou
...,...,...,...,...,...,...,...
649,Mattru,SL,75.99,clear sky,7.6244,-11.8332,"Mondkor Town, Bagbo Chiefdom, Bo District"
654,Beira,MZ,76.12,overcast clouds,-19.8436,34.8389,Beira Terrace Hotel
656,Poum,NC,79.38,clear sky,-20.2333,164.0167,Gîte kajeon
665,Saint-Pierre,RE,78.48,overcast clouds,-21.3393,55.4781,Lindsey Hôtel
669,Dakar,SN,80.73,clear sky,14.6937,-17.4441,Redface Studios Meublés

In [51]:
# 8a. Create the output File (CSV)
    
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv("Vacation_Search", index_label="City_ID")

In [60]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Decription</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [55]:
# 11a. Add a marker layer for each city to the map. 
max_temp = clean_hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))